<div class="container-fluid">

  <!-- Page Heading -->
  <!-- <h1 class="my-4">Decentralized Energy
    <small>SAP Blockchain</small>
  </h1> -->

  <div class="row">
    <div class="col-md-12">
      <p class=""> This Blockchain dApp in the power energy sector replicates a marketplace where peers in a permission
        blockchain network exchange energy using tokens, and these energy tokens can be redeemed by rewards tokens with
        other companies merchandise or services. This network may
        have electric distribution companies, prosumers and consumers. The energy trade is based on tokens called
        REC-kWh.<br /> 1 REC-kWh token value is 1 kWh. </p>
      <!-- <p class=""> Find more detail
        <a [routerLink]="['/About']"> about the application. </a>
      </p> -->
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12 col-sm-6 portfolio-item-list">
      <p>Please select your desired option from the menu on the left</p>
    </div>
    <div class="col-lg-12 col-sm-6 portfolio-item-list">
      <ul>
        <li><span [routerLink]="['/Prosumer']">Distributors/Prosumer:</span> Add electric energy supplier</li>
        <li><span [routerLink]="['/Consumer']">Consumer:</span> Add electric energy consumer only</li>
        <li><span [routerLink]="['/Transaction']">Transaction:</span> Execute a transacton</li>
        <li><span [routerLink]="['/Dashboard']">Dashboard:</span> View all transactons and manage your blockchain</li>
      </ul>
    </div>
  </div>

  <!-- <h4> Step1 - Create and Update Participants </h4>
  <br>
  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a [routerLink]="['/Prosumer']">
          <img class="card-img-top" src="assets/house-prosumer.jpg" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a [routerLink]="['/Prosumer']">Add Prosumer</a>
          </h4>
          <p class="card-text">Prosumers own coins and energy tokens that can be traded with other prosumers and
            consumers.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a [routerLink]="['/Consumer']">
          <img class="card-img-top" src="assets/car-consumer.jpg" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a [routerLink]="['/Consumer']">Add Consumer</a>
          </h4>
          <p class="card-text">Consumers own coins and energy tokens that can be traded with other prosumers and
            consumers.</p>
        </div>
      </div>
    </div>
  </div>
  <h4> Step2 - Execute Transactions </h4>
  <br>
  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a [routerLink]="['/Transaction']">
          <img class="card-img-top" src="assets/transaction.jpg" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a [routerLink]="['/Transaction']">Prosumer to Consumer</a>
          </h4>
          <p class="card-text">Execute a transaction between Residents by exchanging Coins for Energy</p>
        </div>
      </div>
    </div>
  </div>
  <h4> Step3 - Checkout Dashboard </h4>
  <br>
  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a [routerLink]="['/Dashboard']">
          <img class="card-img-top" src="assets/dashboard.jpg" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a [routerLink]="['/Dashboard']">Admin Dashboard</a>
          </h4>
          <p class="card-text">View Residents' Tokens and Coins, and visualization of transactions</p>
        </div>
      </div>
    </div>
  </div> -->
</div>